<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> 
    <%- include('../partials/head') %>
    <!-- /head -->
    <title>Mi cuenta</title>
</head>
<body>
    <!-- header --> 
    <%- include('../partials/header', {selected: ''}) %>
    <!-- /header --> 
    <main>
        <h2>Tu cuenta</h2>
        <div id="main-login">
            <div id="form-container-login">
                <a href="/home">
                    <img src="/images/logo.png" alt="logo">
                </a>
                <form action="/login" method="POST" id="form-login">
                    <div class="form-control-login">
                        <input type="email" name="user" placeholder="Usuario" minlength="3" value="<%= locals.oldData ? oldData.user : ''%>">
                    </div>
                    <% if (locals.errors && errors.user) { %>
                        <p class="errors-style"> <%= errors.user.msg %> </p>
                    <% } %>
                    <div class="form-control-login">
                        <input type="password" name="password" placeholder="Passsword" minlength="8">
                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <p class="errors-style"> <%= errors.password.msg %> </p>
                    <% } %>
                    <div class="form-control-login remember-user">
                        <input type="checkbox" name="remember_user" >
                        <label for="remember_user"> Recordar mi Usuario</label>
                    </div>
                    <div id="button-login">
                        <button type="submit" class="button-form">enviar</button>
                    </div>
                    <div class="form-control-login">
                        <a href="/register">¿No eres miembro? Únete</a>
                    </div>
                    <div class="form-control-login-pass">
                        <a href="/recoverPassword">¿Olvidaste la contraña?</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- footer --> 
    <%- include('../partials/footer') %>
    <!-- /footer --> 
</body>
</html>