<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head --> 
    <%- include('../partials/head') %>
    <!-- /head -->
    <title>Mi cuenta</title>
</head>
<body>
    <!-- header --> 
    <%- include('../partials/header', {selected: ''}) %>
    <!-- /header --> 
    <main>
        <h2>HAZTE MIEMBRO</h2>
        <h2>Crea tu perfil como miembro y obten acceso a</h2>
        <h2>los mejores productos</h2>
        <div id="main-register">
            <div id="form-container-register">
                <a href="/home">
                    <img src="/images/logo.png" alt="logo">
                </a>
                <form action="/register" method="POST" id="form-register" enctype="multipart/form-data">
                    <div class="form-control-register">
                        <input type="email" name="emailUser" placeholder="E-mail" minlength="8" value="<%=locals.oldData ? oldData.emailUser : ''%>">
                    </div>
                    <% if (locals.errors && errors.emailUser) { %>
                        <p class='errors-style'><%= errors.emailUser.msg %></p>
                    <% } %>
                    <div class="form-control-register">
                        <input type="password" name="passwordUser" placeholder="Contraseña" minlength="6">
                    </div>
                    <% if (locals.errors && errors.passwordUser) { %>
                        <p class='errors-style'><%= errors.passwordUser.msg %></p>
                    <% } %>
                    <div class="form-control-register">
                        <input type="text" name="nameUser" placeholder="Nombre" minlength="3" value="<%=locals.oldData ? oldData.nameUser : ''%>">
                    </div>
                    <% if (locals.errors && errors.nameUser) { %>
                        <p class='errors-style'><%= errors.nameUser.msg %></p>
                    <% } %>
                    <div class="form-control-register">
                        <input type="text" name="lastNameUser" placeholder="Apellido" minlength="3" value="<%=locals.oldData ? oldData.lastnameUser : ''%>">
                    </div>
                    <% if (locals.errors && errors.lastNameUser) { %>
                        <p class='errors-style'><%= errors.lastNameUser.msg %></p>
                    <% } %>
                    <div class="form-control-register">
                        <label class="title-register">Foto de Perfil</label>
                        <input type="file" name="profile-pic"  accept=".jpg, .png, .svg">
                    </div>
                    <div class="form-control-register">
                        <label class="title-register">Fecha de nacimiento</label>
                        <input type="date" name="birth_date" value="2000-01-01" min="1921-01-01" max="2005-01-01">
                    </div>
                    <div class="form-control-check">
                        <label class="title-register">Genero</label>
                        <div id="profile-radiobox-register">
                            <label>
                                <input type="radio" name="gender" value="male" checked>
                                H
                            </label>
                            <label>
                                <input type="radio" name="gender" value="female" <%= (locals.oldData && oldData.gender === 'female') ? 'checked' : '' %> >
                                M
                            </label>
                        </div>
                    </div>
                    <div id="form-control-register-checkbox">
                        <label>
                            <input type="checkbox" name="notifications" value="true">
                            Regístrate para recibir correos electrónicos con actualizaciones de productos, fechas y beneficios como miembro.
                        </label>
                    </div>
                    <div class="form-control-register">
                        <a href="login">¿Ya eres miembro? Iniciar Sesion</a>
                    </div>
                    <div id="button-register">
                        <button type="submit">enviar</button>
                        <button type="reset">borrar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class = "errores">
            <ul></ul>
    </main>
    <!-- footer --> 
    <%- include('../partials/footer') %>
    <!-- /footer --> 
    <script src="/js/validations/registerValidations.js"></script>
</body>
</html>